.mainFooter{
    grid-area: footer;
    display: flex;
    justify-content: $footerJustify;
    padding-top: 20px;
    padding-bottom:  20px;
    background-color: $footerMainColor;
    width: 100%;
}

.mainFooter {
            ul{
                list-style-type: none;
            }
    
}

.footerUl{
float: left;
}

.footerUl {
            li{
                display: inline-block;
                margin: 5px;
            }
    
}

.mainFooter {
            li{
                a{
                    color: $headerTituloColor;
                    text-decoration: none;
                    &:hover{
                            color: map-get($links, linksHeaderColorHover);
                    }
                }
            }
    
    
}

@media screen and (min-width: 768px) {
    footer{
        background-color: $mapaContainerColor;
    }
    
}

/* version mobile */
@media screen and (max-width: 576px) {
    .body{
        grid-template-areas: 
        "header"
        "section"
        "section"
        "section"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 700px 200px;
        background-color: rgb(141, 180, 202);
        font-family: $primaryFont;
        position: relative;
        height: 100%;
        width: 100%;
    }
    
}
/* fin version mobile */




