.mainFooter{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom:  20px;
    background-color: #f1eded;
    bottom: 0%;
    width: 100%;
    padding: 0;
}

.mainFooter {
            ul{
                list-style-type: none;
            }
    
}

.footerUl{
float: left;
}

.footerUl {
            li{
                display: inline-block;
                margin: 5px;
            }
    
}

.mainFooter {
            li{
                a{
                    color: #000;
                    text-decoration: none;
                    &:hover{
                            color: rgb(0, 0, 255);
                    }
                }
            }
    
    
}