section{
    grid-area: section;
    width: 100%;
}

img{
    transition: 0.5s;
    object-fit: cover;
}
img:hover{
    transform: scale(1.1);
}

.mainImgContainer{
    width: 100%;
    text-align: center;
    margin:0;
    padding: 0;
    margin-top: 10px;
}

.mainImgContainer img{
    /* border-right: 5px solid #000000 ;
    border-left: 5px solid #000000 ;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000; */
    border: $sectionBorder;
}

/* Contenido */

.fondo-titulo{
    background-color: $sectionMainColor;
}

.fondo-pres{
    background-color: $footerMainColor;
}



.avisoTitulo{
    color: $sectionMainColor;
    text-align: center;
}

.mainParrafo{
    text-align: center;
    padding: 50px
}

.segundoParrafo{
    text-align: center;
    margin-left: 95px;

}

.tituloPri{
    color: $sectionMainColor;
    text-align: center;
}

.politicaPriv{
    color: $borderSectionColor;
    text-align: center;
}

.mapaContainer{
    background-color: $sectionMainColor;
    border-bottom: $mapaBorder;
    padding: 20px;
    border-radius: $borderRadiusMapa;
    width: 50%;
}

.ulMapa{
    list-style-type: none;
    padding: 0px;
}

.mapaContainer {
                .ulMapa{
                        li{
                            background-color: $mapaContainerColor;
                            border: $borderMapaContainer;
                            border-radius: $borderRadiusMapaContainer;
                            padding: 05px;
                        }
                }
    
}

.mapaContainer {
                .ulMapa{
                        li{
                            a{
                                color: $borderMapaColor;
                                text-decoration: none;
                                &:hover{
                                        color: $sectionMainColor;
                                        text-decoration: none;
                                }
                            }
                        }
                }
    
}

@media screen and (min-width: 768px) {
    section{
        background-color: $mapaContainerColor;
    }
    
}
